/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/uploads
/public/css
/public/js
/public/sitemap.xml
/public/vendor/nova
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.php_cs.cache
auth.json
.phpunit.result.cache
_ide_helper_models.php
/storage/temp
_ide_helper.php
storage/og-images

