@charset 'UTF-8';

@import './bootstrap.css';

@import './components/comments.css';
@import './components/shiki.css';
@import './components/button.css';
@import './components/carbon.css';
@import './components/markup.css';
@import './components/mobile-menu.css';
@import './components/pagination.css';
@import './utilties.css';
@import './components/forms.css';

@tailwind base
@tailwind components;
@tailwind utilities;
