@charset 'UTF-8';

@import './bootstrap.css';

@import './components/button.css';
@import './components/carbon.css';
@import './components/markup.css';
@import './components/mobile-menu.css';
@import './components/pagination.css';

@import './utilties.css';

@tailwind components;

@tailwind utilities;

@import './components/forms.css';
