.search-results {
  position: absolute;
  @apply bg-white border-2 rounded p-4 mr-4 mt-2 pin-r ml-4 flex-col content-center z-50;
}

.search-results li {
  @apply mb-2 border-b pb-2;
}

.search-results em {
  background-color: rgba(49, 159, 191, 0.25);
  font-style: normal;
}
