body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  @apply .text-lg;
  background-color: #fffbf9;
}

.container {
  @apply .leading-loose .text-grey-darker;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 58rem;
}

header {
  @apply .pb-4;
}

h1 {
  color:black;
  @apply .pb-4 .text-2xl;
}

h2 {
  color: black;
  @apply .pt-8 .text-xl;
}

h3 {
  @apply .pt-8 ;
}

p {
  @apply .pb-2 .pt-2;
}

a {
  color: config('colors.blue');
}

a:hover {
  color: config('colors.blue-dark');
}

#navigation nav a:hover {
  @apply border-b-2 rounded-none;
}

.active a {
  @apply border-blue;
}

img {
  width: auto;
  height: auto;
}

.post-content ul {
  margin-left: 1.3em;
  list-style-type: circle;
}
