.search-input {
  @apply rounded bg-white border py-2 pr-4 pl-4 block px-3 w-full;
}

.search-results {
  position: absolute;
  @apply bg-white w-full border-2 rounded p-4 pin-r flex-col content-center z-50 mt-2;
}

@screen md {
  .search-results {
      width:30rem;
  }
}

.search-results li {
  @apply mb-2 border-b pb-2;
}

.search-results em {
  background-color: rgba(49, 159, 191, 0.25);
  font-style: normal;
}


