name: Run tests

on: [push]

jobs:
    run-tests:
        name: Run tests
        runs-on: ubuntu-latest
        services:
            redis:
                image: redis
                ports:
                    - 6379:6379
                options: --entrypoint redis-server
        steps:
            -   uses: actions/checkout@v1

            -   name: Setup PHP
                uses: shivammathur/setup-php@v1
                with:
                    php-version: '7.4'
                    extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
                    coverage: none

                run: |
                    sudo /etc/init.d/mysql start
                    mysql  -u root -proot -e 'CREATE DATABASE IF NOT EXISTS freekdev_test;'

            -   name: Cache yarn dependencies
                uses: actions/cache@v1
                with:
                    path: node_modules
                    key: yarn-${{ hashFiles('yarn.lock') }}

            -   name: Run yarn
                run: yarn && yarn dev

            -   name: Cache composer dependencies
                uses: actions/cache@v1
                with:
                    path: vendor
                    key: composer-${{ hashFiles('composer.lock') }}

            -   name: Run composer install
                run: composer install -n --prefer-dist
                env:
                    COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}

            -   name: Prepare Laravel Application
                run: |
                    cp .env.example .env
                    php artisan key:generate

            -   name: Run tests
                run: ./vendor/bin/phpunit
                env:
                    DB_PASSWORD: root
                    REDIS_PORT: ${{ job.services.redis.ports[6379] }}
